manifest {
  author = 'BCCDC-PHL: Tara Newman'
  description = 'Nextflow for running bbsplit or bwa to competitvely map reads to multiple references to split fastqs.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.0.3'
}

params {

  profile = false
  help = false
  outdir = './results'
  tracedir = "${params.outdir}/pipeline_info"

  fastq_input = 'NO_FILE'
  samplesheet_input = 'NO_FILE'
  illuminaSuffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
  fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
  fastqSearchPath = makeFastqSearchPath( params.illuminaSuffixes, params.fastq_exts )
  
  index = false
  ref_1 = 'NO_FILE' 
  ref_2 = 'NO_FILE'
  composite_ref = 'NO_FILE' 
  bwa = true
  bbsplit = false
  bbsplit_ambiguous2 = 'toss'
  bwa_T = 30  
  min_mapq = 10 
  skip_fastp = false
  // option to split or sort fastq files based on reference
  fastq_mode = "sort"

  // pathogen specific welcome message
  rsv = false   
  measles = false
  sarsCoV2 = false

   
}

def makeFastqSearchPath ( illumina_suffixes, fastq_exts ) {
    def fastq_search_path = []
    for (suffix in illumina_suffixes){
        for (ext in fastq_exts) {
            fastq_search_path.add(params.fastq_input.toString() + '/' + suffix.toString() + ext.toString())
        }
    }
    return fastq_search_path
}

profiles {
  conda {
     conda.enabled = true
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache) {
       conda.cacheDir = params.cache
     }
  }
   apptainer {
     apptainer.enabled = true
     process.container = "oras://ghcr.io/bccdc-phl/determinator:a5287d9c0fd3b4d1"
     if (params.cache) {
	      apptainer.cacheDir = params.cache
	}
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

process {
  withLabel: largecpu {
    cpus = 8
  }
}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
  overwrite  = true
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
  overwrite  = true
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
  overwrite  = true
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
  overwrite  = true
}